<h1><span style="color: red">REST</span>aurant</h1>
<h4>Party Index</h4>
<h5>Logged in as <span style="color: red"><%= current_employee.username %></span></h5>

  <nav>
    <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>&nbsp;&nbsp;<%= link_to "Employees Index", employees_path, method: :get %>&nbsp;&nbsp;<%= link_to "New Party", new_party_path, method: :get %>
  </nav>

  <div class="container">
    <h5>Parties being served by <span style="color: red"><%= current_employee.username %></span></h5>
    <table class="table" id="link-table">
      <thead>
        <tr>
          <th>Party #</th>
          <th>Guest Count</th>
          <th>Server</th>
          <th>Sub-Total</th>
          <th>Payment</th>
          <th>Edit Party</th>
        </tr>
      </thead>
      <tbody>

        <% current_employee.parties.each do |party| %>

      <tr>
        <td>
          <%= party.id %>
        </td>
        <td>
          <%= party.guest_count %> Guests
        </td>
        <td>
          <%= party.employee.username %>
        </td>
        <td>
          $<%= "%.2f" % party.the_check() %>
        </td>
        <td>
          <%= link_to "Party Receipt", party_path(party) %>
        </td>
        <td>
          <%= link_to "Edit Party", edit_party_path(party) %>
        </td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>

