<h1><span style="color: red">REST</span>aurant</h1>
<h4>Party Index</h4>
<h5>Logged in as <span style="color: red"><%= current_employee.username %></span></h5>

  <nav>
    <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>&nbsp;&nbsp;<%= link_to "Employees Index", employees_path, method: :get %>&nbsp;&nbsp;<%= link_to "New Party", new_party_path, method: :get %>
  </nav>

  <div class="container">
    <h5>Parties being served by <span style="color: red"><%= current_employee.username %></span></h5>
    <table class="table" id="link-table">
      <thead>
        <tr>
          <th>Guest Count</th>
          <th>Server</th>
          <th>Edit Party</th>
          <th>Current Check Total</th>
          <th>Payment Status</th>
        </tr>
      </thead>
      <tbody>

        <% current_employee.parties.each do |party| %>

        <tr>
          <td>
            <%= party.guest_count %> Guests
          </td>
          <td>
            <%= party.employee.username %>
          </td>
          <td>
            <%= link_to "Edit Party", edit_party_path(party) %>
          </td>
          <td>
            $<%= party.the_check() %>
          </td>
          <td>
            <% if party.paid_for == 1 %>
                Unpaid
                <% else %>
                Paid
              <% end %>
          </td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>

