<h1>RESTaurant App</h1>
<h4>Logged in as <%= current_employee.username %></h4>
<nav>
    <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Employees Index", employees_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
</nav>

<div class="container">
  <h3>Receipt For Party #<%= @party.id %></h3>

  <% @party.orders.each do |order| %>
      <li><strong><%= order.food.name %></strong> ... $<%= "%.2f" % order.food.price %> Dollars</li>
      <% end %>
      <br>
      <li><strong>Sub-Total ... $<%= "%.2f" % @party.the_check() %> Dollars</strong></li>
      <li>Tax ... $<%= "%.2f" % (@party.the_check() * 0.087) %> Dollars</li>
      <li>Total ... $<%= "%.2f" % ((@party.the_check() * 0.087) + @party.the_check()) %> Dollars</li>
      <br>
      <li>Suggested Gratuities</li>
      <li>15% ... $<%= "%.2f" % ((@party.the_check() * 0.15) + @party.the_check()) %> Dollars</li>
      <li>20% ... $<%= "%.2f" % ((@party.the_check() * 0.20) + @party.the_check()) %> Dollars</li>
      <li>25% ... $<%= "%.2f" % ((@party.the_check() * 0.25) + @party.the_check()) %> Dollars</li>

</div>
