<h1><span style="color: red">REST</span>aurant</h1>
<h5>Logged in as <span style="color: red"><%= current_employee.username %></span></h5>
<nav>
    <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Employees Index", employees_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
</nav>

<div class="container" id="receipt">
  <h4>Receipt For Party #<%= @party.id %></h4>

  <% @party.orders.each do |order| %>
      <li><strong><%= order.food.name %></strong> ... $<%= "%.2f" % order.food.price %></li>
      <% end %>
      <br>
      <li>Sub-Total ... $<%= "%.2f" % @party.the_check() %></li>
      <li>Tax ... $<%= "%.2f" % (@party.the_check() * 0.087) %></li>
      <li><strong>Total ... $<%= "%.2f" % ((@party.the_check() * 0.087) + @party.the_check()) %></strong></li>
      <br>
      <li>Suggested Gratuities</li>
      <li>15% ... $<%= "%.2f" % ((@party.the_check() * 0.15)) %></li>
      <li>20% ... $<%= "%.2f" % ((@party.the_check() * 0.20)) %></li>
      <li>25% ... $<%= "%.2f" % ((@party.the_check() * 0.25)) %></li>
      <%= button_to "Complete Payment", party_path(@party), method: :delete, :class => "btn btn-default btn-xs", :id => "pay-button" %>
      <br>
</div>
