<h1>RESTaurant App</h1>
<h3>Edit <%= @employee.username %></h3>

<nav>
  <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log In", log_in_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
  <br>
  <%= link_to "New Employee", new_employee_path, method: :get %>&nbsp;&nbsp;<%= link_to "Delete Employee", employee_path(@employee), method: :delete %>
</nav>

<%= form_for @employee do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :permission %>
  <%= f.select :permission, [['Admin', 3], ['Server', 2], ['Chef', 1]] %>
  <%= f.submit %>
<% end %>
