<h1>RESTaurant App</h1>
<h3>Employee Index</h3>
<h4>Logged in as <%= current_employee.username %></h4>

<nav>
  <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
</nav>

<% if current_employee.permission == 2 %>

  <div class="container">
    <table class="table" id="link-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Permission</th>
        </tr>
      </thead>
      <tbody>

        <% @employees.each do |employee| %>

        <tr>
          <td>
            <%= link_to employee.username, edit_employee_path(employee) %>
          </td>
          <td>
            <%= link_to employee.permission, edit_employee_path(employee) %>
          </td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>

  <div class="container">
    <%= link_to "Menu Index", foods_path, method: :get %>
    <br>
    <%= link_to "New Employee", new_employee_path, method: :get %>
  </div>

<% end %>

<div class="container">
  <h4>Add A New Group</h4>
    <%= link_to "Create New Group", new_group_path, method: :get %>&nbsp;&nbsp;<%= link_to "Group Index", groups_path, method: :get %>
</div>



<p>
Here anyone will be able to add a group
<br>
You will be able to edit groups with individual guests
<br>
Each guest will have a collection to select food
<br>
Need the ability to edit the foods, make new, edit, index/show pages and then have form fors
</p>


