<h1>RESTaurant App</h1>
<h3>Employee Index</h3>
<h4>Logged in as <%= current_employee.username %></h4>

<nav>
  <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
</nav>

<% if current_employee.permission == 3 %>
<!-- ADMIN VIEW -->
<div class="container">
  <h4>Admin Controls</h4>
    <%= link_to "Menu Index", foods_path, method: :get %>&nbsp;&nbsp;<%= link_to "New Employee", new_employee_path, method: :get %>
  </div>

  <div class="container">
    <h5>All Employees</h5>
    <table class="table" id="link-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Permission</th>
        </tr>
      </thead>
      <tbody>

        <% @employees.each do |employee| %>

        <tr>
          <td>
            <%= link_to employee.username, edit_employee_path(employee) %>
          </td>
          <td>
            <% if employee.permission == 3 %>
                Admin
                <% elsif employee.permission == 2 %>
                  Server
                  <% else %>
                    Cook
              <% end %>
          </td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>

<div class="container">
    <h4>Party Controls</h4>
      <%= link_to "Create New Party", new_party_path, method: :get %>&nbsp;&nbsp;<%= link_to "Edit Parties", parties_path, method: :get %>
  </div>

    <div class="container">
      <h5>All Current Parties</h5>
      <table class="table" id="link-table">
        <thead>
          <tr>
            <th>Party #</th>
            <th>Guest Count</th>
            <th>Server</th>
            <th>Add Order</th>
            <th>Current Check Total</th>
            <th>Payment Status</th>
          </tr>
        </thead>
        <tbody>

          <% @parties.each do |party| %>

          <tr>
            <td>
              <%= party.id %>
            </td>
            <td>
              <%= party.guest_count %> Guests
            </td>
            <td>
              <%= party.employee.username %>
            </td>
            <td>
              <%= link_to "New Order", party_path(party) %>
            <td>
              $<%= "%.2f" % party.the_check() %> Dollars
            </td>
            <td>
              <% if party.paid_for == 1 %>
                Unpaid
                <% else %>
                Paid
              <% end %>
            </td>
          </tr>

          <% end %>

        </tbody>
      </table>
    </div>

  <div class="container">
    <h5>All Current Orders</h5>
    <h5>Orders</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Party #</th>
          <th>Food</th>
          <th>Server</th>
          <th>Price</th>
          <th>Edit Order</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody>

        <% @orders.each do |order| %>

        <tr>
          <td>
            <%= order.party_id %>
          <td>
            <%= order.food.name %>
          </td>
          <td>
            <%= order.party.employee.username %>
          </td>
          <td>
            $<%= "%.2f" % order.food.price %> Dollars
          </td>
          <td>
            <%= link_to "Edit Order", edit_party_order_path(current_employee, order) %>
          </td>
          <td>
            <% if order.order_up == 1 %>
                Cooking
                <% elsif order.order_up == 2 %>
                  Ready
                  <% else %>
                    Served
              <% end %>
          </td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>

<% end %>

<% if current_employee.permission == 2 %>
<!-- SERVER VIEW -->

  <div class="container">
    <h4>Party Controls</h4>
      <%= link_to "Create New Party", new_party_path, method: :get %>&nbsp;&nbsp;<%= link_to "Edit Parties", parties_path, method: :get %>
  </div>

    <div class="container">
      <h5>Parties being served by <%= current_employee.username %></h5>
      <table class="table" id="link-table">
        <thead>
          <tr>
            <th>Party #</th>
            <th>Guest Count</th>
            <th>Server</th>
            <th>Add Order</th>
            <th>Current Check Total</th>
            <th>Payment Status</th>
          </tr>
        </thead>
        <tbody>

          <% current_employee.parties.each do |party| %>

          <tr>
            <td>
              <%= party.id %>
            </td>
            <td>
              <%= party.guest_count %> Guests
            </td>
            <td>
              <%= party.employee.username %>
            </td>
            <td>
              <%= link_to "New Order", party_path(party) %>
            <td>
              $<%= "%.2f" % party.the_check() %> Dollars
            </td>
            <td>
              <% if party.paid_for == 1 %>
                Unpaid
                <% else %>
                Paid
              <% end %>
            </td>
          </tr>

          <% end %>

        </tbody>
      </table>
    </div>

  <div class="container">
    <h5>Orders for Parties being served by <%= current_employee.username %></h5>
    <table class="table">
      <thead>
        <tr>
          <th>Party #</th>
          <th>Food</th>
          <th>Price</th>
          <th>Edit Order</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody>

        <% current_employee.orders.each do |order| %>

        <tr>
          <td>
            <%= order.party_id %>
          <td>
            <%= order.food.name %>
          </td>
          <td>
            $<%= "%.2f" % order.food.price %> Dollars
          </td>
          <td>
            <%= link_to "Edit Order", edit_party_order_path(current_employee, order) %>
          </td>
          <td>
            <% if order.order_up == 1 %>
                Cooking
                <% elsif order.order_up == 2 %>
                  Ready
                  <% else %>
                    Served
              <% end %>
          </td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>

<% end %>

<% if current_employee.permission == 1 %>
<!-- COOK VIEW -->

  <div class="container">
    <h5>Orders to be cooked by <%= current_employee.username %></h5>
    <table class="table">
      <thead>
        <tr>
          <th>Party #</th>
          <th>Food</th>
          <th>Time Ordered</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody id="order-body">

       <% @notup.each do |order| %>

        <tr data-timer="<% order.order_time %>">
          <td>
            <%= order.party_id %>
          </td>
          <td>
            <%= order.food.name %>
          </td>
          <td>
            <%= order.order_time.round %> Minutes Ago
          </td>
          <td>
            <%= form_for order, url: party_order_path(current_employee, order) do |f| %>
            <input type="hidden" name="order[order_up]" value="2">
            <%= f.submit "Complete Order" %>
            <% end %>
          </td>
        </tr>
        <% end %>


      </tbody>
    </table>
  </div>

  <% end %>
