<h1>RESTaurant App Employee Index</h1>

<nav>
  <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "New Employee", new_employee_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log In", log_in_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
</nav>

<% if current_employee.permission == 2 %>

  <% @employees.each do |employee| %>
    <%= employee.username %>
    <br>
    <%= employee.permission %>
    <br>
  <% end %>

<% end %>

<p>
Here is some text
</p>
