<h1>RESTaurant App Employee Index</h1>

<nav>
  <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "New Employee", new_employee_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log In", log_in_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
</nav>

<% if current_employee.permission == 2 %>

  <div class="container">
    <table class="table" id="link-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Permission</th>
        </tr>
      </thead>
      <tbody>

        <% @employees.each do |employee| %>

        <tr>
          <td>
            <%= link_to employee.username, edit_employee_path(employee) %>
          </td>
          <td>
            <%= link_to employee.permission, edit_employee_path(employee) %> Years Old
          </td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>


<% end %>

<p>
Here is some text
</p>


