<h1><span style="color: red">REST</span>aurant</h1>
<h5>Logged in as <span style="color: red"><%= current_employee.username %></span></h5>


<% if current_employee.permission == 3 %>
<!-- ADMIN VIEW -->
  <nav>
    <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>&nbsp;&nbsp;<%= link_to "Menu Index", foods_path, method: :get %>&nbsp;&nbsp;<%= link_to "New Employee", new_employee_path, method: :get %>&nbsp;&nbsp;<%= link_to "Create New Party", new_party_path, method: :get %>
  </nav>

  <div class="container">
    <h5><span style="color: red">All Employees</span></h5>
    <table class="table" id="link-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Permission</th>
          <th>Currency</th>
        </tr>
      </thead>
      <tbody>

        <% @employees.each do |employee| %>

        <tr>
          <td>
            <%= link_to employee.username, edit_employee_path(employee) %>
          </td>
          <td>
            <% if employee.permission == 3 %>
                Admin
                <% elsif employee.permission == 2 %>
                  Server
                  <% else %>
                    Cook
              <% end %>
          </td>
          <td>
            <% if employee.currency == 2 %>
              Dollars
                <% else %>
                  Euros
              <% end %>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>


    <div class="container">
      <h5><span style="color: red">All Current Parties</span></h5>
      <table class="table" id="link-table">
        <thead>
          <tr>
            <th>Party #</th>
            <th>Guest Count</th>
            <th>Server</th>
            <th>Add Order</th>
            <th>Current Check Total</th>
            <th>Payment</th>
            <th>Edit Party</th>
          </tr>
        </thead>
        <tbody>

          <% @parties.each do |party| %>

          <tr>
            <td>
              <%= party.id %>
            </td>
            <td>
              <%= party.guest_count %> Guests
            </td>
            <td>
              <%= party.employee.username %>
            </td>
            <td>
              <%= link_to "New Order", party_path(party) %>
            <td>
              $<%= "%.2f" % party.the_check() %>
            </td>
            <td>
              <%= link_to "Party Receipt", party_path(party) %>
            </td>
            <td>
              <%= link_to "Edit Party", edit_party_path(party) %>
            </td>
          </tr>

          <% end %>

        </tbody>
      </table>
    </div>

  <div class="container">
    <h5><span style="color: red">All Current Orders</span></h5>
    <table class="table">
      <thead>
        <tr>
          <th>Party #</th>
          <th>Food</th>
          <th>Notes</th>
          <th>Server</th>
          <th>Price</th>
          <th>Edit Order</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody>

        <% @orders.each do |order| %>

        <tr>
          <td>
            <%= order.party_id %>
          <td>
            <%= order.food.name %>
          </td>
          <td>
            <%= order.notes %>
          </td>
          <td>
            <%= order.party.employee.username %>
          </td>
          <td>
            $<%= "%.2f" % order.food.price %>
          </td>
          <td>
            <%= link_to "Edit Order", edit_party_order_path(current_employee, order) %>
          </td>
          <td>
            <% if order.order_up == 1 %>
                Cooking
                <% elsif order.order_up == 2 %>
                  Ready
                  <% else %>
                    Served
              <% end %>
          </td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>

<% end %>

<% if current_employee.permission == 2 %>
<!-- SERVER VIEW DOLLARS-->

  <% if current_employee.currency == 2 %>

  <div>
    <%= form_for @current_employee do |f| %>
      <input type="hidden" name="employee[currency]" value="1">
      <%= f.submit "Change To Euros", :class => "btn btn-default btn-xs", :id => "currency-button"  %>
    <% end %>
  </div>

  <% end %>

  <% if current_employee.currency == 1 %>

    <div>
      <%= form_for @current_employee do |f| %>
        <input type="hidden" name="employee[currency]" value="2">
        <%= f.submit "Change To Dollars", :class => "btn btn-default btn-xs", :id => "currency-button"  %>
      <% end %>
    </div>

  <% end %>


  <% if current_employee.currency == 2 %>

    <nav>
      <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>&nbsp;&nbsp;<%= link_to "Create New Party", new_party_path, method: :get %>
    </nav>

      <div class="container">
        <h5>Parties being served by <span style="color: red"><%= current_employee.username %></span></h5>
        <table class="table" id="link-table">
          <thead>
            <tr>
              <th>Party #</th>
              <th>Guest Count</th>
              <th>Server</th>
              <th>Add Order</th>
              <th>Sub-Total</th>
              <th>Payment</th>
              <th>Edit Party</th>
            </tr>
          </thead>
          <tbody>

            <% current_employee.parties.each do |party| %>

            <tr>
              <td>
                <%= party.id %>
              </td>
              <td>
                <%= party.guest_count %> Guests
              </td>
              <td>
                <%= party.employee.username %>
              </td>
              <td>
                <%= link_to "New Order", new_party_order_path(party) %>
              </td>
              <td>
                $<%= "%.2f" % party.the_check() %>
              </td>
              <td>
                <%= link_to "Party Receipt", party_path(party) %>
              </td>
              <td>
                <%= link_to "Edit Party", edit_party_path(party) %>
              </td>
            </tr>

            <% end %>

          </tbody>
        </table>
      </div>

    <div class="container">
      <h5>Orders for Parties being served by <span style="color: red"><%= current_employee.username %></span></h5>
      <table class="table">
        <thead>
          <tr>
            <th>Party #</th>
            <th>Food</th>
            <th>Notes</th>
            <th>Price</th>
            <th>Edit Order</th>
            <th>Order Status</th>
          </tr>
        </thead>
        <tbody>

          <% current_employee.orders.each do |order| %>

          <tr>
            <td>
              <%= order.party_id %>
            <td>
              <%= order.food.name %>
            </td>
            <td>
              <%= order.notes %>
            </td>
            <td>
              $<%= "%.2f" % order.food.price %>
            </td>
            <td>
              <%= link_to "Edit Order", edit_party_order_path(current_employee, order) %>
            </td>
            <td>
              <% if order.order_up == 1 %>
                  Cooking
                  <% elsif order.order_up == 2 %>
                    Ready
                    <% else %>
                      Served
                <% end %>
            </td>
          </tr>

          <% end %>

        </tbody>
      </table>
    </div>

  <% end %>

  <!-- SERVER VIEW EUROS-->

  <% if current_employee.currency == 1 %>

    <nav>
      <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>&nbsp;&nbsp;<%= link_to "Create New Party", new_party_path, method: :get %>
    </nav>

      <div class="container">
        <h5>Parties being served by <span style="color: red"><%= current_employee.username %></span></h5>
        <table class="table" id="link-table">
          <thead>
            <tr>
              <th>Party #</th>
              <th>Guest Count</th>
              <th>Server</th>
              <th>Add Order</th>
              <th>Sub-Total</th>
              <th>Payment</th>
              <th>Edit Party</th>
            </tr>
          </thead>
          <tbody>

            <% current_employee.parties.each do |party| %>

            <tr>
              <td>
                <%= party.id %>
              </td>
              <td>
                <%= party.guest_count %> Guests
              </td>
              <td>
                <%= party.employee.username %>
              </td>
              <td>
                <%= link_to "New Order", new_party_order_path(party) %>
              </td>
              <td>
                €<%= "%.2f" % (party.the_check() * 0.91) %>
              </td>
              <td>
                <%= link_to "Party Receipt", party_path(party) %>
              </td>
              <td>
                <%= link_to "Edit Party", edit_party_path(party) %>
              </td>
            </tr>

            <% end %>

          </tbody>
        </table>
      </div>

    <div class="container">
      <h5>Orders for Parties being served by <span style="color: red"><%= current_employee.username %></span></h5>
      <table class="table">
        <thead>
          <tr>
            <th>Party #</th>
            <th>Food</th>
            <th>Notes</th>
            <th>Price</th>
            <th>Edit Order</th>
            <th>Order Status</th>
          </tr>
        </thead>
        <tbody>

          <% current_employee.orders.each do |order| %>

          <tr>
            <td>
              <%= order.party_id %>
            <td>
              <%= order.food.name %>
            </td>
            <td>
              <%= order.notes %>
            </td>
            <td>
              €<%= "%.2f" % (order.food.price * 0.91) %>
            </td>
            <td>
              <%= link_to "Edit Order", edit_party_order_path(current_employee, order) %>
            </td>
            <td>
              <% if order.order_up == 1 %>
                  Cooking
                  <% elsif order.order_up == 2 %>
                    Ready
                    <% else %>
                      Served
                <% end %>
            </td>
          </tr>

          <% end %>

        </tbody>
      </table>
    </div>

  <% end %>


<% end %>

<% if current_employee.permission == 1 %>
<!-- COOK VIEW -->
  <nav>
    <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
  </nav>

  <div class="container">
    <h5>Orders to be cooked by <span style="color: red"><%= current_employee.username %></span></h5>
    <table class="table">
      <thead>
        <tr>
          <th>Party #</th>
          <th>Food</th>
          <th>Notes</th>
          <th>Time Ordered</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody id="order-time">

       <% @notup.each do |order| %>

        <tr data-timer="<%= order.order_time %>">
          <td>
            <%= order.party_id %>
          </td>
          <td>
            <%= order.food.name %>
          </td>
          <td>
            <%= order.notes %>
          </td>
          <td>
            <%= order.order_time.round %> Minutes Ago
          </td>
          <td>
            <%= form_for order, url: party_order_path(current_employee, order) do |f| %>
            <input type="hidden" name="order[order_up]" value="2">
            <%= f.submit "Complete Order", :class => "btn btn-default btn-sm"  %>
            <% end %>
          </td>
        </tr>
        <% end %>


      </tbody>
    </table>
  </div>

  <% end %>
