<h1>RESTaurant App</h1>
<h3>New Order For Group #<%= @group.id %></h3>
<h4>Logged in as <%= current_employee.username %></h4>
<nav>
    <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Employees Index", employees_path, method: :get %>&nbsp;&nbsp;<%= link_to "New Employee", new_employee_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>
</nav>

  <%= form_for @order, url: group_orders_path(@group.id) do |f| %>
      <%= f.label "Food" %>
      <%= f.collection_select :food_id, Food.all, :id, :name %>
      <%= f.label :order_up %>
      <%= f.select :order_up, [['Not Ready', 1], ['Ready', 2], ['Served', 3]] %>
      <%= f.hidden_field :group_id, :value => @group.id %>
      <%= f.submit %>
    <% end %>


