<h1><span style="color: red">REST</span>aurant</h1>
<h4>Edit Order For Party #<%= @order.party_id %></h4>
<h5>Logged in as <span style="color: red"><%= current_employee.username %></span></h5>
  <nav>
    <%= link_to "Home", root_path, method: :get %>&nbsp;&nbsp;<%= link_to "Log Out", sessions_path, method: :delete %>&nbsp;&nbsp;<%= link_to "Employees Index", employees_path, method: :get %>&nbsp;&nbsp;<%= link_to "Party Index", parties_path, method: :get %>
  </nav>

  <div class="container">
    <%= form_for @order, url: party_order_path do |f| %>
      <%= f.label "Food" %>
      <%= f.collection_select :food_id, Food.all, :id, :name %>
      <%= f.label :notes %>
      <%= f.text_field :notes %>
      <%= f.label :order_up %>
      <%= f.select :order_up, [['Cooking', 1], ['Ready', 2], ['Served', 3]] %>
      <%= f.submit :class => "btn btn-default btn-xs" %>
    <% end %>

    <%= button_to "Remove Order", party_order_path, method: :delete, :class => "btn btn-default btn-xs" %>
  </div>
